html {

    background-color: peru;
}

.primary,
.footer,
.formCSS,
button {
    color: rgb(245, 211, 171);
    text-align: center;
    font-weight: bold;
}

button {
    background-color: rgb(235, 124, 14);
}

.inputCSS {
    color: rgb(20, 20, 20);
}

ul {
    margin-left: 20%;
}

li {
    list-style-image: url("../images/Banana.png");
}

.monkeyFace {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 10%;
}