html {
	background-color: peru;
}

.primary,
.footer,
.btn,
button {
	color: rgb(245, 211, 171);
	text-align: center;
	font-weight: bold;
}

.hide {
	display: none;
}

.btn,
button {
	background-color: rgb(235, 124, 14);
}

.sound-btn-on {
	font-size: 18px;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background-color: rgb(105, 128, 0);
	margin: 20px;
}



.sound-btn-off {
	font-size: 18px;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background-color: rgb(182, 46, 4);
	margin: 20px;
}

.input-container {
	display: flex;
}

#input-main {
	color: rgb(20, 20, 20);
	width: 240%;
	padding: 5px;
}

.react-datepicker__input-container {
	width: 20%;
}

.date-picker {
	height: 25px;
}

.react-datepicker-popper {
	left: -58px !important;
}

#add-todo {
	font-size: 20px;
	width: 100%;
	height: 40px;
}

ul {
	margin-left: 20%;
}

li {
	height: 40px;
	width: auto;
	list-style: none;
	color: rgb(245, 211, 171);
	font-weight: 800;
	margin-left: 3%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.deadline-li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgb(13, 65, 134);
}

table {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.task-th {
	width: auto;
	color: rgb(245, 211, 171);
	background: rgb(104, 52, 1);
	border: 2px;
	border-color: rgb(245, 211, 171);
	opacity: 0.4;
}

.task-th-bullet,
.task-th-x {
	width: 28px;
	color: rgb(245, 211, 171);
	background: rgb(104, 52, 1);
	border: 2px;
	border-color: rgb(245, 211, 171);
	opacity: 0.4;
}

.task-th-x {
	width: 3px;
}

.task-td {
	width: 235px;
}

.banana-td {
	height: 40px;
	width: 28px;
	display: grid;
}

.banana-td-container {
	height: 40px;
	display: grid;
	align-items: center;
}

.task-td-x {
	color: rgb(104, 52, 1);
	height: 40px;
	display: grid;
	align-items: center;
}

#banana-bullet {
	height: 20px;
}

.task-button-x {
	height: 40px;
	border: none;
	background: none;
}

.span-x {
	border: 1px solid rgb(245, 211, 171);
	border-radius: 30%;
	font-size: 60%;
	position: relative;
	top: -4px;
	padding: 1px;
	padding-bottom: 2px;
	cursor: pointer;
}

.deadline-th {
	width: 100px;
	color: rgb(245, 211, 171);
	background: rgb(104, 52, 1);
	border: 2px;
	border-color: rgb(245, 211, 171);
	opacity: 0.4;
}

.monkey-container {
	position: relative;
}

#monkey-face {
	width: 80px;
	height: 80px;
	z-index: -1;
}

#fist-bump {
	height: 40px;
	position: absolute;
	bottom: -10px;
	left: -30px;
}

.btn {
	margin-left: 10px;
	background-color: rgb(230, 79, 20);
}

.btn.btn--active {
	background-color: orange;
}

#gorilla-surf-in,
#gorilla-surf-out {
	height: 80px;
	position: absolute;
	z-index: 2;
}


#moving-gorilla,
#moving-gorilla-out {
	position: absolute;
	top: 200px;
	left: -300px;
}

h5 {
	opacity: 0.6;
}

.header {
	display: flex;
	justify-content: space-between;
}


#intro-png,
#intro-out-png {
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 20%;
	left: -3%
}

.clock-container {
	display: flex;
	justify-content: center;

}

.app-clock {
	display: flex;
	justify-content: center;
	width: 50%;
	height: 70px;

}

.today-text {
	font-size: 20px;
}

.time-text {
	font-size: 20px;
}

@media (min-width: 800px) {
	body {
		padding: 80px 200px;
		/* padding up and down is 50px
		  padding up and down is 200px */
	}
}