html {
	background-color: peru;
}


.primary,
.footer,
.btn,
button {
	color: rgb(245, 211, 171);
	text-align: center;
	font-weight: bold;
}

.btn,
button {
	background-color: rgb(235, 124, 14);
}

.appCSS {
	position: absolute;
	top: 18%;
}

.inputContainer {
	display: flex;
	flex-wrap: row;
	width: 345px;
}


#inputCSS {
	color: rgb(20, 20, 20);
	width: 240%;
	padding: 5px;
}

.react-datepicker__input-container {
	width: 20%;
}

.DatePicker {
	height: 25px;
}

#addTodo {
	font-size: 20px;
	width: 100%;
	height: 40px;
}

ul {
	margin-left: 20%;
}

.bananaLi {
	list-style-image: url("../images/banana.png");
	margin-left: 3%;
	color: rgb(245, 211, 171);
	font-weight: 800;
}

.deadlineLi {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: rgb(13, 65, 134);
}

table {
	padding-top: 20px;
	padding-bottom: 20px;
}

.taskTH {
	width: auto;
	color: rgb(245, 211, 171);
	background: rgb(104, 52, 1);
	border: 2px;
	border-color: rgb(245, 211, 171);
	opacity: 0.4;
}

.taskTD {
	width: 235px;
}


.deadlineTH {
	width: 100px;
	color: rgb(245, 211, 171);
	background: rgb(104, 52, 1);
	border: 2px;
	border-color: rgb(245, 211, 171);
	opacity: 0.4;
}

td {
	vertical-align: middle;
}

.deadlineTd {
	display: table-cell;
	text-align: center;
}

li {
	height: 40px;
}

.deadlineUl {
	list-style-image: none;
}


#monkeyFace {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 5%;
	top: 2%;
	z-index: -1;
}

#fistBump {
	height: 40px;
	z-index: -1;
	position: absolute;
	right: 21%;
	top: 11%;
}

.btn {
	margin-left: 10px;
	background-color: rgb(230, 79, 20);
}

.btn.btn--active {
	background-color: orange;
}

#gorillaSurfGif {
	height: 80px;
}

h5 {
	opacity: 0.6;
}

.stylesheet {
	position: absolute;
	top: 20px;
}

/* 
https: //stackoverflow.com/questions/41587802/css-animation-from-left-to-right */
/* #movingGorilla {
	display: block;
	position: absolute;
	-webkit-animation: linear infinite alternate;
	-webkit-animation-name: run;
	-webkit-animation-duration: 5s;
}

@-webkit-keyframes run {
	0% {
		left: 0;
	}

	50% {
		left: 100%;
	}

	100% {
		left: 0;
	}
} */